<style>
    .dribble {
        width:100px;
    }
</style>
<h1>Welcome to my travel site</h1>
<%-# param to drive welcome message on homepage -%>
<p>Welcome to my homepage <%= @name %> !</p>

<% if @fromabout == "about" %>
    <p>I see you came back from the about page, what are you looking for?</p>
<% end %>

    <br />
    Homeland <%= @homeland %>
<hr />
    <ul>
        <% @countries.each do |country| %>
            <li><%= country %></li>
        <% end %>
    </ul>

<% @images.each do |filename| %>
    <%= image_tag "#{filename}1.jpg", alt: "Here is an image", class: "dribble" %>
<% end %>


<p>Go to <a href="../welcome/about" class="button">About</a> Page <p>

<hr />

<table class="table">
    <tr>
        <% @united_states.each do |key,value| %>
            <th><%= key.titleize %></th>
        <% end %>
    </tr>
    <tr>
        <% @united_states.each do |key,value| %>
            <% if value.kind_of?(Array) %>
                <td><%= value.join(", ") %></td>
            <% else %>
                <td><%= value %></td>
            <% end %>
        <% end %>
    </tr>
</table>
